.chatWrap{
	background-color:rgba(255,255,255,0.7);
}
.messageWrap {
	display: flex;
}

.messageWrap img {
	height: 1em;
	width: auto;
	margin: 0.2em 0.2em 0 0;
}

.chatWrap .menuButtons img {
	vertical-align: middle;
	margin: 0 0.5em;
    cursor: pointer;
}

.chatWrap .menuButtons {
	font-weight: 800;
	line-height: 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.chatWrap .chatInput {

	display: flex;
	flex-direction: row;
}

.chatWrap .chatInput input {
	flex-grow: 3;
	
}

.chatWrap .chatInput button {
	flex-grow: 1;
}