.actionButtonWrap{
	display: flex;
	flex-direction: column;
}
.actionMapBtt{
	margin: 1em;
	height: 4em;
	width: 4em;
	background-color:  rgba(87, 192, 154, 0.65);
	border: 1px solid rgb(44, 95, 76);
}