.enitiesAround .entityName {
	padding: 0 0.5em;
}

.enitiesAround img {
	height: 1.5em;
}

.otherentities {
	display: flex;
	justify-content: space-between;
}

.enitiesAround .nameWrap {
	display: flex;
	justify-content: flex-start;
}

.otherentities .enityAttack {
	align-self: flex-end;
}