#app {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

button{
    border: 1px solid #ABABAB;
    background: #434244;
    font-weight: normal;
    color: #EDEDED;
    border-radius:0.2em;
    padding: .4em 1em;
}

.pointerEvents {
    pointer-events: all;
}

.wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
}

.topPanel{
    flex-grow: 0;
}

.bottomPanel button{
    border: 1px solid  #fff ;
    margin: 0.5em;
    background-color: rgb(174 93 93 / 30%);;
    color: #fff;
}

.bottomPanel{
    flex-grow: 0;
    display: flex;
    justify-content: center;
    border-top: 1px solid #fff;
}


.mapPanel{
    flex-grow: 1;
}

h3{
    margin: 0.4em 0;
}
h4{
    margin: 0.4em 0;
}
.crafting{
	background:  url('/images/staticons/crafting.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    height:20px;
    min-width: 20px;
    min-height: 20px;
}

.scouting{
	background:  url('/images/staticons/scouting.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    height:20px;
    min-width: 20px;
    min-height: 20px;
}


.speed{
	background: url('/images/staticons/speed.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    height:20px;
    min-width: 20px;
    min-height: 20px;
}

.salvaging{
	background: url('/images/staticons/salvaging.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    height:20px;
    min-width: 20px;
    min-height: 20px;
}

.recovery{
	background: url('/images/staticons/recovery.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    height:20px;
    min-width: 20px;
    min-height: 20px;
}

.ranged{
	background: url('/images/staticons/ranged.png?v=162') left top;
	background-repeat:no-repeat;
    padding-left:25px;
    min-width: 20px;
    min-height: 20px;
}

.rof{
	background: url('/images/staticons/rof.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    padding-bottom:5px;
    min-width: 20px;
    min-height: 20px;
}

.vehdmg{
	background: url('/images/staticons/vehicle_dmg.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    padding-bottom:5px;
    min-width: 20px;
    min-height: 20px;
}

.spower{
	background: url('/images/staticons/spower.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    padding-bottom:5px;
    min-width: 20px;
    min-height: 20px;
}

.handling{
	background: url('/images/staticons/handling.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    padding-bottom:5px;
    min-width: 20px;
    min-height: 20px;
}

.dmg{
	background: url('/images/staticons/dmg.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    padding-bottom:5px;
    min-width: 20px;
    min-height: 20px;
}

.defense{
	background: url('/images/staticons/defense.png?v=162') left top;
	background-repeat:no-repeat;
    padding-left:25px;
    min-width: 20px;
    min-height: 20px;
}

.cqb{
	background: url('/images/staticons/cqb.png?v=162') left top;
	background-repeat:no-repeat;
    padding-left:25px;
    min-width: 20px;
    min-height: 20px;
}

.rifles{
	background: url('/images/staticons/rifles.png?v=162') left top;
	background-repeat:no-repeat;
    padding-left:25px;
    min-width: 20px;
    min-height: 20px;
}

.sniper{
	background: url('/images/staticons/sniper.png?v=162') left top;
	background-repeat:no-repeat;
    padding-left:25px;
    min-width: 20px;
    min-height: 20px;
}

.heavy{
	background: url('/images/staticons/heavy.png?v=162') left top;
	background-repeat:no-repeat;
    padding-left:25px;
    min-width: 20px;
    min-height: 20px;
}

.melee{
	background: url('/images/staticons/melee.png?v=162') left top;
	background-repeat:no-repeat;
    padding-left:25px;
    min-width: 20px;
    min-height: 20px;
}

.health{
	background: url('/images/staticons/health.png?v=162') left top;
	background-repeat:no-repeat;
    padding-left:25px;
    min-width: 20px;
    min-height: 20px;
}

.survival{
	background: url('/images/staticons/survival.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    height:20px;
    min-width: 20px;
    min-height: 20px;
}

.Close{
	background: url('/images/staticons/close.png?v=162') left top;
	background-repeat:no-repeat;
	padding-left:25px;
    height:20px;
    min-width: 20px;
    min-height: 20px;
}

.Scattered{
	background: url('/images/staticons/scatered.png?v=162') left top;
	background-repeat:no-repeat;
    padding-left:25px;
    min-width: 20px;
    min-height: 20px;
}

.Ambush{
	background: url('/images/staticons/ambush.png?v=162') left top;
	background-repeat:no-repeat;
    padding-left:25px;
    min-width: 25px;
    min-width: 20px;
    min-height: 20px;
}

