.targetDetails {
	padding: 0.5em;
	margin: 0.5em;
	background: linear-gradient(to bottom, rgba(232, 243, 255, 0.4) 0%, rgba(232, 243, 255, 0.4) 0%, rgba(255,255,255,0.7) 85%, rgba(255,255,255,0.7) 100%);
}

.attackRangeText {
	text-align: center;
	padding-bottom: 1em;
}

.rangeSliderWrap {
	height: 20px;
	border: 1px solid #434244;
    background-color: #ABABAB;
	color: #222;
    border-radius: 0.4em;
}

.range-slider {
	background-color: #fff;
}

.range-thumb {
	border: 1px solid #ABABAB;
    background-color: #434244;
    font-weight: normal;
    color: #EDEDED;
    width: 6em;
    padding: 0.2em 1em;
    text-align: center;
    margin-top: -0.3em;
	border-radius: 0.4em;
	font-size: 0.9em;
}

.range-track {
	background-color: #111;
	
}

.scoutGroupInfo img {
	width: 3em;
	height: auto;
}

.playerScoutDetails hr { 
	color: #434244
}

.playerScoutDetails>div>img {
	vertical-align: middle;
    margin-bottom: 4px;
}

.scoutMercEquip {
	display: flex;
	border-bottom: 1px solid #ABABAB;
}

.scoutGroupInfo {
	overflow-y: auto; 
	 max-height: 25%;
	 border: 1px solid #ABABAB;
}

.fightResults {

	max-height: 50%;
	overflow-y: auto;
}