.currentPosition{
	background: rgba(255,255,255,0.4);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.7) 85%, rgba(255,255,255,0.7) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.4)), color-stop(0%, rgba(255,255,255,0.4)), color-stop(85%, rgba(255,255,255,0.7)), color-stop(100%, rgba(255,255,255,0.7)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.7) 85%, rgba(255,255,255,0.7) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.7) 85%, rgba(255,255,255,0.7) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.7) 85%, rgba(255,255,255,0.7) 100%);
    background: linear-gradient(to bottom, rgba(232, 243, 255, 0.4) 0%, rgba(232, 243, 255, 0.4) 0%, rgba(255,255,255,0.7) 85%, rgba(255,255,255,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.currentPosition .otherEnititiesAround {
    display: flex;
}

.currentPosition .otherEnititiesAround>div {
    padding: 0 0.5em;
}