.dawnLogoLogin{
	padding: 2em 1em;
	display: flex;
	justify-content: center;
}
.dawnLogoLogin img {
	
	width: 100%;
	height: auto;
}

.login{
	display: flex;
    flex-direction: column;
    height: 100%;
	justify-content: space-around;
	background-image: url('/images/bg.jpg');
	background-repeat: no-repeat;
}

.login>div{
	margin: auto;
	width: 50%;
	width: 100%;
	max-width: 400px;
}

.login input{
	font-size: 1.2em;
	height: 2em;
	border: none;
}

.loginInputWrap {
	
	width: 100%;
	padding: 5em 5em;
}

.loginInputWrap div {
	margin: auto;
	padding: 5px;
	
}